body {
  font-family: "Roboto", sans-serif;
}

   /* 
h1,
h2,
h3 {
  text-align: center;
}

h1 {
  color: black;
  font-weight: 500;
  font-size: 60px;
  margin: 0 auto 10px;
}

h2 {
  color: black;
  font-size: 46px;
  font-weight: 500;
  margin: 150px auto 0;
}

h3 {
  color: black;
  font-size: 24px;
  font-weight: 400;
}
*/