:root {
  --branding-color: #f5ed79;
  --primary-color: #0797f7;
  --secondary-color: #aedfff;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--secondary-color);
}

.navbar.border {
  border: 2px solid var(--primary-color) !important;
}

.bg-body-branding {
  background: var(--branding-color) !important;
}

div .bg-body-branding {
  border: 2px solid var(--primary-color);
}

.text-primary {
  color: var(--primary-color) !important;
}

.hero {
  text-align: center;
  padding: 180px 0 0;
  margin: 0 auto 80px;
  background: linear-gradient(
    to top,
    var(--branding-color) 0%,
    var(--primary-color) 100%
  );
  border: 2px solid var(--primary-color);
}

.hero h2 {
  color: black;
  font-size: 60px;
  font-weight: 500;
  margin: 15px auto;
}

.hero h1 {
  color: black;
  font-size: 90px;
  font-weight: 500;
  margin: 0 auto 10px;
}

.hero h3 {
  color: black;
  font-size: 36px;
  font-weight: 400;
}

.hero p {
  display: block;
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight: 400;
  padding: 8px;
  margin: 0 auto;
  /* border: 2px solid var(--primary-color); */
  /* background: var(--branding-color); */
}

div.contact-me {
  margin: 100px auto;
}

.contact-me-link {
  border: 2px solid var(--branding-color);
  background: var(--primary-color);
  color: var(--branding-color);
  font-size: 24px;
  line-height: 27px;
  padding: 16px 30px;
  text-decoration: none;
}

.contact-me-link:hover {
  background: var(--branding-color);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.home-section .row {
  margin: 80px auto;
}

.home-section .col {
  /* margin: 0 10px; */
}

.home-section .img-fluid {
  display: block;
  margin: 50px auto;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.project-description {
  margin: 0 10px;
  padding: 0;
}

.project-description h2 {
  font-size: 46px;
}

.project-description p {
  display: block;
  text-align: left;
  font-size: 18px;
}

.project-link {
  border: 2px solid var(--primary-color);
  background: var(--branding-color);
  color: var(--primary-color);
  text-decoration: none;
  font-size: 24px;
  padding: 16px 20px;
}

.project-link:hover {
  background: var(--primary-color);
  border: 2px solid var(--branding-color);
  color: var(--branding-color);
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.about-section {
  padding: 110px 0 50px;
}

.about-section-content {
  margin: 100px 0;
}

.about-section-content h1 {
  color: black;
  font-size: 58px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 50px;
}

.about-section-content h3 {
  font-size: 28px;
  margin-bottom: 90px;
}

.about-section-content p {
  text-align: left;
  font-size: 22px;
  margin-bottom: 110px;
}

.about-section .img-fluid {
  display: block;
  margin: 0 auto;
}

.work-section-content {
  margin: 150px 0 0;
}
.work-section-content .img-fluid {
  cursor: pointer;
}

.work-section-content h1 {
  color: black;
  font-size: 64px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 50px;
}

.work-section-content h2 {
  font-size: 36px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .hero {
    padding: 80px 8px 30px;
    margin: 0 0 40px;
  }

  .hero h1 {
    font-size: 42px;
  }

  .hero h2 {
    font-size: 30px;
  }

  .hero h3 {
    font-size: 24px;
  }

  div.contact-me {
    margin: 60px auto;
  }

  .hero p {
    font-size: 20px;
    padding: 0;
  }

  h2 {
    font-size: 24px;
  }

  .home-section .row {
    margin: 10px 0;
  }

  .project-description {
    text-align: center;
    margin: 0;
  }

  .project-description h2 {
    font-size: 24px;
  }

  .project-link {
    font-size: 18px;
  }

  .about-section {
    padding: 80px 0px 30px;
    text-align: center;
  }

  .about-section .img-fluid {
    display: block;
    margin: 30px auto;
  }

  .about-section-content {
    margin: 0;
    padding: 20px 8px 30px;
    text-align: center;
  }

  .about-section-content h1 {
    color: black;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .about-section-content h3 {
    font-size: 20px;
    margin-bottom: 60px;
  }

  .about-section-content p {
    font-size: 18px;
    text-align: center;
    margin: 0 0 70px;
  }

  .work-section-content {
    margin: 100px 0 0;
  }

  .work-section-content h1 {
    font-size: 42px;
    margin-top: 50px;
    text-align: center;
  }

  .work-section-content h2 {
    font-size: 22px;
  }

  .work-section-content p {
    font-size: 16px;
    text-align: center;
  }
}
